/* General Overlay */
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: transparent;
    z-index: 996;
    will-change: opacity;
}

/* Left SideNav Open And Clode  */
.side-nav.slideOut {
    transform: translateX(0px);
}
#sidenav-overlay{
    opacity: 0.5;
    background-color: black;
}
/* onClick show showDropDown */
.showDropDown{
    white-space: nowrap;
    opacity: 1;
    right:20px;
    position: absolute;
    top: 64px;
    display: block;
}