/* General Overlay */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: transparent;
    z-index: 996;
    will-change: opacity;
}

body {
    header {
        nav {
            .showDropDown {
                white-space: nowrap;
                opacity: 1;
                right: 20px;
                position: absolute;
                top: 64px;
                display: block;
            }
        }
    }
    #main {
        .wrapper {
            aside#left-sidebar-nav {
                .side-nav.slideOut {
                    transform: translateX(0px);
                }
                #sidenav-overlay {
                    opacity: 0.5;
                    background-color: black;
                }
            }
            aside#right-sidebar-nav {
                .side-nav.right-navout {
                    transform: translateX(0px);
                    z-index: 1000;
                }
                #rightSide-overlay {
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 120vh;
                    z-index: 999;
                    will-change: opacity;
                    opacity: 0.5;
                    background-color: black;
                }
            }
            .content {
                .container {}
            }
        }
    }
    footer {}
}